@charset "UTF-8";

body {
	font-family: 'Roboto', Kanit;
	font-weight: inherit;
	letter-spacing: 1px;
	background: #000;
	background-image: url(../images/background-body.jpg);
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	animation: fade-in 1s, bg-move 15s linear infinite;
	-webkit-animation: fade-in 1s, bg-move 15s linear infinite;
}

::-moz-selection {
	background: rgba(0, 0, 0, 0.2);
}

::selection {
	background: rgba(0, 0, 0, 0.2);
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.clear {
	clear: both;
	display: block;
	width: 100%;
	font-weight: 400;
}

li {
	list-style: none;
}

.container-fluid {
	width: 90%;
}

.wrapper .container {
	background: rgba(0, 0, 0, 0.5);
}

/*HEADER*/

header {
	width: 100%;
	padding: 20px 0;
	display: inline-block;
	border-bottom: 4px solid #edcd00;
}

.top-nav .login-top {
	display: inline-block;
	margin: 0;
	float: right;
	margin-right: 10px;
}

.top-nav .login-top li {
	float: left;
	font-size: 14px;
	line-height: 12px;
	font-weight: 300;
	margin: 5px 0;
}

.top-nav .login-top li a {
	padding: 5px 10px;
	border-right: 1px solid #fff;
	color: #fff;
	display: block;
	text-decoration: none;
}

.brand {
	float: left;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	position: relative;
	font-weight: 300;
}

nav ul li a,
nav ul li a:visited {
	display: block;
	font-size: 14px;
	padding: 15px 20px 15px 25px;
	color: #ffffff;
	text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
	text-decoration: none;
	color: #edcd00;
}

a.table {
	background: url(../images/icon-table-w.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 0;
}

a.table:hover {
	background: url(../images/icon-table-y.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.info {
	background: url(../images/icon-info-w.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.info:hover {
	background: url(../images/icon-info-y.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.info-user {
	background: url(../images/icon-info-user-w.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.info-user:hover {
	background: url(../images/icon-info-user-y.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.chart {
	background: url(../images/icon-chart-w.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.chart:hover {
	background: url(../images/icon-chart-y.png);
	background-repeat: no-repeat;
	background-position: left;
}

a.reoport,
a.store-report {
	background: url(../images/icon-report-w.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
}

a.reoport:hover,
a.store-report:hover {
	background: url(../images/icon-report-y.png);
	background-repeat: no-repeat;
	background-position: left;
}


/* Mobile navigation */
.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #262626;
	height: 70px;
	width: 70px;
}

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #ffffff;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}


/*HEADER*/

.c88_content {
	padding: 30px 15px;
}

.c88_content .send {
	padding: 5px 25px;
	background: #b7b7b7;
	border: none;
	border-radius: 5px;
}

.datepicker_table label {
	width: 100%;
	color: #edcd00;
}

.datepicker_table .custom-file {
	margin-right: 10px;
	background: #fff;
}

.manage-table {
	width: 60%;
	background: #edcd00;
	color: #252525;
	padding: 10px 50px;
	display: block;
	text-align: center;
	margin: 25px auto 0;
	border: none;
	border-radius: 5px;
}

.manage-table:hover {
	background: #a28d00;
}

.tableMatch label {
	width: 100%;
	color: #edcd00;
}

.tableMatch .month-select {
	width: 40%;
	margin-right: 10px;
}

.tableMatch .year-select {
	width: 25%;
	margin-right: 10px;
}

.t88-table {
	margin: 30px 0;
	font-size: 14px;
	font-weight: 500;
}

.t88-table .table-bordered thead td,
.t88-table .table-bordered thead th {
	background: #edcd00;
}

.t88-table .table-bordered td,
.t88-table .table-bordered th {
	border: 1px solid #c2a802;
	text-align: center;
	vertical-align: inherit;
	padding: 8px;
}

.t88-table .table-striped tbody tr td {
	vertical-align: middle;
}

.t88-table .table-striped tbody tr td:nth-child(2) {
	text-align: left;
	padding: 8px 20px;
}

.t88-table .table-striped tbody {
	background: #b7b7b7;
}

.t88-table .table-striped tbody tr:nth-of-type(odd) {
	background: #d6d4d4;
}

.t88-table .status {
	width: 100%;
	padding: 10px 5px;
	background: #c99d03;
	color: #252525;
	border: none;
	border-radius: 5px;
	font-size: 12px;
}

.t88-table .date {
	color: #fff;
}

.t88-table .status.active {
	background: #00a651;
	color: #fff;
}

.t88-table .edit,
.t88-table .editprice,
.t88-table .save {
	width: 100%;
	padding: 10px 5px;
	background: #b7b7b7;
	color: #252525;
	border: none;
	border-radius: 5px;
	font-size: 12px;
}

.t88-table .show {
	width: 100%;
	padding: 10px 5px;
	color: #252525;
	background: #edcd00;
	border: none;
	border-radius: 5px;
	font-size: 12px;
}

.bet {
	color: #ed1c24;
}

.t88-table .table-bordered td.tournament {
	text-align: left;
	background: #898989;
	padding-left: 40px;
}

.panel-t88 {
	margin: 30px 0;
	font-size: 14px;
	font-weight: 500;
	background: #ebebeb;
}

.title-header {
	background: #edcd00;
	color: #363636;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 2px;
}

.bet-t88 {
	width: 100%;
	display: inline-block;
	padding: 10px;
	background: #dcdcdc;
	margin-bottom: 2px;
	font-size: 12px;
}

.bet-t88 .form-group {
	margin-bottom: 0;
	font-size: 16px;
}

.bet-t88 button.close {
	border: 1px solid #898989;
	padding: 0 4px;
	font-size: 18px;
	line-height: 18px;
}

.bet-t88 form label {
	font-size: 12px;
}

.bet-t88 form .form-group {
	width: 40%;
	float: left;
	padding: 0 5px;
}

.bet-t88 form .form-group.buttonBet {
	width: 20%;
}

.scroll-bet{
	height: 425px;
	overflow: scroll;
}

.buttonBet button {
	width: 100%;
	padding: 6px 0;
	margin-top: 30px;
	border-radius: .25rem;
	background: #edcd00;
}

.total-t88 .title-header {
	background: #898989;
}

.total-t88 .total-bet {
	width: 100%;
	display: inline-block;
	padding: 10px 20px;
}

.total-t88 .total-bet p {
	text-align: right;
	margin-bottom: 5px;
}

.total-t88 .total-bet button{
	padding: 6px 20px;
	border-radius: .25rem;
	background: #edcd00;
	float: right;
}





.open_box {
	top: 0;
	left: 0;
	width: 400px;
	height: 45px;
	font-size: 20px;
	padding: 7px 10px;
	text-align: right;
	background-size: cover;
	cursor: pointer;
	background-color: #edcd00;
	color: #000;
}

.open_box i {
	width: 30px;
	font-size: 30px;
	margin-left: 10px;
}
.box-left{
	margin-left:0px!important;
}